:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
  --color-red: rgb(151, 10, 11);
  --mainTransition: all 1 linear;
  --mainSpacing: 0.2rem;
  --mainBlack: #121212;

  --color-darkblue-alpha-hamburger: rgba(27, 27, 50, 0.7);
  --color-darkblue-hamburger: #151525;
  --color-green-select: #28834b;
  --color-red-select: rgb(114, 8, 8);
  --color-orange: rgb(199, 137, 23);
  --color-orange-select: rgb(156, 108, 19);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

.submit-button:hover {
  background: var(--color-green-select);
}

.buttonlike-link {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonlike-link2 {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-red);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.buttonlike-link2:hover {
  background: var(--color-red-select);
}
/*--------Form page ends here--------------------------*/

/*--------Here start list page-------------------------*/

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.filter-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.filter-button:hover {
  background: var(--color-green-select);
}
.candidates-box {
  margin-top: 10px;
  display: grid;

  grid-template-columns: minmax(200px, auto);

  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;

  justify-content: left;
  align-items: center;
  align-content: center;
  padding: 0.5rem;
}

.candidate-button {
  padding: 0.2rem;
  background: var(--color-orange);
  color: var(--color-white);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.candidate-button:hover {
  background: var(--color-orange-select);
}

.changing-candidate-box-left {
  margin-top: 10px;
  display: grid;

  grid-template-columns: minmax(200px, auto);

  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;

  justify-content: left;
  align-items: center;
  align-content: center;
  padding: 0.6rem;
}
.changing-candidate-box-right {
  margin-top: 10px;
  display: grid;

  grid-template-columns: minmax(200px, auto);

  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;

  justify-content: right;
  align-items: center;
  align-content: center;
  padding: 0.6rem;
}
.changing-candidate-box-center {
  margin-top: 10px;
  display: grid;

  grid-template-columns: minmax(200px, auto);

  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;

  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.6rem;
}

@media (max-width: 770px) {
  .candidates-box {
    margin-top: 10px;
    display: grid;

    grid-template-columns: minmax(200px, auto);

    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;

    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.5rem;
  }
}
/*--------List page ends here-------------------------*/

/*--------Here start personal data page-------------------------*/
.fa-thumbs-up {
  font-size: 1.7rem;
  cursor: pointer;
}
.liked-trigger {
  color: var(--color-orange);
}

.liked-box {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: var(--color-orange);
}
hr {
  width: 100%;
}
.data-decor {
  color: var(--color-orange);
}

/*--------Personal data page ends here-------------------------*/

/*--------Hamburger menu -------------------------------*/

.hamburger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-darkblue-alpha-hamburger);
  z-index: 3;
  visibility: hidden; /*to hide hamburger menu*/
  margin: 3.125rem auto 0 auto;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: var(--color-darkblue-hamburger);

  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(-100%); /*to hide hamburger menu*/
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    width: 30vw;
    min-width: 450px;
  }
}

.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;

  display: inline-block;
  padding: 0.2rem;
  background: var(--color-green);
  color: var(--color-white);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}
.nav-icon:hover {
  background: var(--color-green-select);
}
.close-hamburger {
  font-size: 1.7rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.close-hamburger:hover {
  color: var(--color-green);
}
.hamburger-titles {
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 300px;
}
.hamburger-titles a {
  text-decoration: none;
  color: var(--color-white);

  padding: 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  cursor: pointer;
}
.hamburger-titles a:hover {
  text-decoration: none;
  background: transparent;
  color: var(--color-green);
}

.hamburger-titles h2 {
  text-decoration: none;
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.showhamburger {
  animation: smoothMenu 0.5s forwards;
  animation-timing-function: ease-out;
}
.transparentBcg {
  visibility: visible;
}

@keyframes smoothMenu {
  0% {
    /*transform: translateX(100%);*/
  }
  20% {
  }
  40% {
  }
  60% {
  }
  80% {
  }
  100% {
    transform: translateX(0);
  }
}

/*--------Hamburger menu ends here -------------------------------*/
